{% extends "base.html" %}
{% load crispy_forms_tags %}
<!--{% block head_title %}{{ block.super }} | Contact{% endblock %}
-->

{% block content %}
<style>
    {% block style %}
    .navbar-static-top {
        margin-bottom: 0px !important;
    }
    
    .jumbotron {
        background-color: rgba(108,1,1,1);
        color: ivory;
    }
    {% endblock %}
</style>

{% if title %}
<div class='jumbotron'>
    <div class="container">
        <div class="row">
            <div class='col-sm-6'>
                <h1>{{ title }}</h1>
            </div>
        </div>
    </div>
</div>
<!--<div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
        <h1>{{ title }}</h1>
    </div>
</div>-->
{% endif %}

<div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
        <form method='POST' action=''>{% csrf_token %}
        {{ form|crispy }}

        <input class='btn' type='submit' value='Submit' />

        </form>
    </div>
    
</div>


{% endblock %}