{% extends "base.html" %}
{% block content %}
{% load staticfiles %}

<!--{% block head_title %}{{ block.super }} | Photos{% endblock %}
-->
<style>
    {% block style %}
    .navbar-static-top {
        margin-bottom: 0px !important;
    }
    
    .jumbotron {
        background-color: rgba(108,1,1,1);
        color: ivory;
    }
    {% endblock %}
</style>

<div class='jumbotron'>
    <div class="container">
        <div class="row">
            <div class='col-sm-6'>
                <h1>Gallery</h1>
                <h3>- Places I Have Been</h3>
            </div>
        </div>
    </div>
</div>

<div>
    <img src="{% static 'img/DSC_8852.JPG' %}" class='img-responsive' />
</div>

<div class='col-sm-7'>
    <img src="{% static 'img/DSC_8938.JPG' %}" class='img-responsive' />
</div>

<div class='col-sm-5'>
    <img src="{% static 'img/DSC_8869.JPG' %}" class='img-responsive' />
</div>

<div class='col-sm-5'>
    <img src="{% static 'img/DSC_9164.JPG' %}" class='img-responsive' />
</div>

<div class='col-sm-5'>
    <img src="{% static 'img/DSC_9290.JPG' %}" class='img-responsive' />
</div>

<div class='col-sm-6'>
    <img src="{% static 'img/dsc_8894.jpg' %}" class='img-responsive' />
</div>

<div class='col-sm-6'>
    <img src="{% static 'img/dsc_8952.jpg' %}" class='img-responsive' />
</div>
{% endblock %}