{% extends "base.html" %}
{% block content %}
<!--{% block head_title %}{{ block.super }} | Videos{% endblock %}
-->

<style>
    {% block style %}
    .navbar-static-top {
        margin-bottom: 0px !important;
    }
    
    .jumbotron {
        background-color: rgba(108,1,1,1);
        color: ivory;
    }
    {% endblock %}
</style>

<div class='jumbotron'>
    <div class="container">
        <div class="row">
            <div class='col-sm-6'>
                <h1>Videos</h1>
                <h3>- Projects I worked on:</h3>
            </div>
        </div>
    </div>
</div>

<div class='row col-sm-10 col-sm-offset-1'>
    <h2>Android App</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/GcXb3mIxMyk" frameborder="0" allowfullscreen></iframe>"<br/>
    <h3>3D Animation</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/kCXW1RH8Ufw?list=PL9WqVaXX10Dn1YU4Nk8wEyrzCRNXWzMC1" frameborder="0" allowfullscreen></iframe>
</div>

{% endblock %}